<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      This or that!!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <body id="body-area">
    <div id="left">
      <ion-button id="blue-button" (Click)="CallVote()">
        <img id="pokemon-img" src={{this.pokemonSprite1}} alt="">
      </ion-button>
    </div>

    <div id="middle-bar"></div>
    <div id="right">
      <ion-button id="red-button" (Click)="CallVote()">
        <img id="pokemon-img" src={{this.pokemonSprite2}} alt="">
      </ion-button>
    </div>
  </body>

</ion-content>